body {
  text-align: center;
  background-color: #011F3F;
  margin: 10vh;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
  color: #FEF2BF;
}

.container {
  display: block;
  margin: auto;
  text-align: center;
}

.row {
  margin: auto;
  justify-content: center;
}

.btn-user {
  margin: 2%;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 100%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 900px) {
  body {
    padding: 10vh;
  }

  #level-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  body {
    margin: 100vh;
  }
  #level-title {
    font-size: 1rem;
  }
}
